<form action="/users/update-password/<%= id %>" method="POST">
    <input type="text" name="new_password" placeholder="Enter New Password..">
    <input type="text" name="conferm_password" placeholder="Conferm Password..">
    <input type="submit" placeholder="Reset">
</form>