<link rel="stylesheet" href="/css/user_sign_in.css">

<!-- <h1><%= title %></h1> -->
<div id="sign-in-box">
    <h1>Sign In</h1>
    <form id="sign-in-frm" action="/users/create-session" method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Sign In">
    </form>
    <p>
        <a href="/users/auth/google">Google Sign In/SignUp</a>
        <br>
        <a href="/users/forget-password">Forget Password!!</a>
    </p>
</div>
